@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$primary-color: #3E4555;
$secondary-color: #8D97AD;
$tertiary-color: #29AF8A;
$quaternary-color: #E2536B;

$primary-font: 'Playfair Display', serif;
$secondary-font: 'Lato', sans-serif;

$breakpoint-screen: 1200px;
$breakpoint-bigtablet: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-phone: 576px;

h1, h2, h3 { 
    color: $primary-color !important; 
    font: 100% $primary-font !important;
    text-align: center;
}

h1, h2 {
    font-size: 36px !important;
    line-height: 43px !important;
    font-weight: 700 !important;
}

h1 {
    margin-top: 17%;
    margin-bottom: 10%;
}

h2 {
    margin: 5% 0;
}

h3 {
    font-size: 27px !important;
    line-height: 38px !important;
    margin: 5% 0;
}

p, span, a, ul, li {
    color: $secondary-color !important; 
    font-family: $secondary-font !important;
    font-size: 16px !important;
    line-height: 26px !important;
}

.first {
    background-repeat: no-repeat;
    background-position: left top;
}

.first__part {
    margin-bottom: 15%;
}

.first__text {
    max-width: 41%;
    align-self: center;

    p {
        font-size: 27px !important;
        font-family: $primary-font !important;
        line-height: 38px !important;
        color: $primary-color !important;
    }

    span {
        font-size: 16px !important;
        font-family: $secondary-font !important;
        line-height: 26px !important;
    }
}

.second {
    background: #F5F7FA;
}

.second__part {
    background-repeat: no-repeat;
    background-position: left bottom;
}

.stage--number {
    color: $quaternary-color !important;
    $size: 88px;
    width: $size;
    height: $size;
    border-radius: $size * 0.5;
    box-shadow: 0px 3px 7px #1a1a1a;
    font-size: 36px !important;
    line-height: 80px !important;
    font-weight: 700;
    text-align: center;
    margin: 3% auto;
}

.stage--desc {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
}

.amount__value {
    width: 277px;
    height: 87px;
    background: none;
    font-size: 40px !important;
    line-height: 2;
    border: 4px solid $quaternary-color;
    border-radius: 5px;
    color: $quaternary-color;

    &:hover {
        background: $tertiary-color;
        border: 4px solid $tertiary-color;
        border-radius: 5px;
        color: #fff;
    }
}

.active {
    background: $tertiary-color !important;
    border: 4px solid $tertiary-color !important;
    border-radius: 5px;
    color: #fff !important;
}

.container__info {
    text-align: center;
    margin-top: 5%;
}

.container__support {
    text-align: center;

    button {
        background: $tertiary-color;
        color: #fff;
        font-size: 13.5px !important;
        font-family: $secondary-font !important;
        font-weight: 700 !important;
        border: none;
        border-radius: 5px;
        width: 160px;
        height: 45px;
        margin-top: 5%;
    }
}

.slider {
    position: relative;
    max-width: 1820px !important;
    overflow: hidden;
    margin: 20px auto 0 auto;
    height: 517px !important;
    margin-bottom: 10%;
    
    ul {
        position: relative;
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
        margin-left: -50px;
  
        li {
            position: relative;
            display: inline-block;
            margin: 0 25px !important;
            padding: 0;
            width: 372px !important;
            height: 517px !important;
            background-repeat: no-repeat;
            background-size: cover;

            h4 {
                text-align: center;
                color: #fff !important;
                font-family: $primary-font !important;
                position: absolute;
                top: 60%;
                transform: translate(40%, 50%);
            }

            p {
                position: absolute;
                top: 75%;
                color: #fff !important;
                font-family: $secondary-font !important;
                margin: 0 7%;
                text-align: center;
            }
        }
    }
}
  
.control {
    position: absolute;
    top: 50%;
    z-index: 999;
    display: block;
    color: $secondary-color !important;
    text-decoration: none !important;
    font-size: 120px !important;
    opacity: 0.8;
    cursor: pointer;
}

.control:hover {
    color: $tertiary-color !important;
}
  
.prev {
    left: 0px;
}
  
.next {
    right: 0px;
}

footer {
    margin: 2% 0;
}

.container__choice--edition {
     
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10%;

    li {
        list-style-type: none;
        margin-left: -30%;
    }
}

.social__icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; 

    li {
      list-style-type: none;
      margin: 3%;
    }
}

.privacy__policy__link {
    text-align: center !important;
}

@media (min-width: $breakpoint-bigtablet) and (max-width: $breakpoint-screen) {
    .slider {
        max-width: 782px !important;
    }
}

@media (min-width: $breakpoint-screen) {
    .container {
        min-width: 85% !important;
    }
}

@media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-screen) {
  
    .first__text {
        min-width: 100%;
    }

    .first__photo {
        display: grid;
        margin: 5% auto;
    }

    .amount__choice {
        margin: 5% auto;
    }

    .amount {
        display: grid;
        margin: 0 auto;
    }

    .container__choice--edition {

        padding-inline-start: 0px !important;
        justify-content: space-between;

        li {
            margin-left: 0 !important;

            a {
                font-size: 12px !important;
            }
        }
    }
    
}

@media (min-width: $breakpoint-tablet) {
    .shipping__form {
        flex-grow: 0 !important;
    }

    .first__photo {
        flex-grow: 0 !important;
        align-self: center !important;
    }

}

@media (max-width: $breakpoint-tablet) {
    h1, h2 {
        font-size: 24px !important;
        line-height: 30px !important;
    }

    h3 {
        font-size: 20px !important;
        line-height: 28px !important;
    }
    
    p, span, a, ul, li {
        font-size: 16px !important;
        line-height: 24px !important;
    }

    .first__text {
        max-width: 100%;

        p {
            font-size: 20px !important;
            line-height: 28px !important; 
        }
    }

    .rodo__info {
        max-width: 100%;
        font-size: 16px !important;
        line-height: 24px !important;
    }

    .first__photo__column {
        img {
            margin: 0 auto;
            width: 100%;
        }
    }

    .amount__value {
        display: grid;
        margin: 30px auto;
    }

    .required {
        max-width: 100%;
    }

    .third__part__elements {
        justify-content: center !important;
        display: grid;
        margin: 0 auto;
        text-align: center;
    }

    .container__choice--edition {
        display: grid;
    }

    .social__icons {
        justify-content: center !important;
        padding: 0;
    }

    .copyright {
        text-align: center;
    }
}

@media (min-width: $breakpoint-phone) and (max-width: 1023px) {
    .slider {
        max-width: 352px !important;
    }
}

@media (min-width: $breakpoint-phone) {
    .amount__choice {
        flex-grow: 0 !important;
    }
}

@media (max-width: $breakpoint-phone) {
    .first__photo__column {
        img {
            margin-top: 0%;
            max-width: 100%;
        }
    }

    .slider {
        width: 90% !important;
        margin: 5%;
    }
}
